 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(37, 21, 110, 0.842);
    background-image: url(assets/wp3911775.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 20px;
    font-size: 50px;
    text-align: center;
    color: rgb(226, 137, 20);
}

p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Arial';
    margin: 20px;
}